<div class="container">
<!-- 検索バー -->

  <%= form_with url:"#", method: :get, class: "input input-bordered flex items-center gap-2" do %>
  <%#= text_field_tag :q, params[:q], placeholder: "予算、人数で検索", class: "grow" %>
  <button type="submit">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 16 16"
      fill="currentColor"
      class="h-4 w-4 opacity-70">
      <path
        fill-rule="evenodd"
        d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
        clip-rule="evenodd" />
    </svg>
  </button>
  <% end %>
</div>

<!-- 掲示板一覧 -->
<div class="grid grid-cols-3 justify-items-center">
    <% if @posts.present? %>
      <%= render partial: 'posts/post_card', collection: @posts, as: :post %>
    <% else %>
      <p class="text-gray-700 text-center">該当する投稿が見つかりませんでした。</p>
    <% end %>
  </div>


